@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
  font-family: 'Merriweather', serif;
}

body{
  background: linear-gradient(223deg, #ff0000, #f2ae07, #ffef15);
  background-size: 600% 600%;

  -webkit-animation: background 19s ease infinite;
  -moz-animation: background 19s ease infinite;
  animation: background 19s ease infinite;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

canvas{
  margin:1rem;
  margin-top:7rem;
  display: block;
  border-radius: 5px;
  background-color: rgb(128,128,128,0.4);  
}

#izpis{
  display:flex;
  align-items:center;
  justify-content:space-around;
  background-color:#f2f2f2;
  width:100%;
  position:block;
  color:black;
  font-weight: bold;
  text-align: center;
  border-radius:5px;
  padding:1rem;
  color:rgb(38, 57, 115);
  font-weight: bold;
}

.poravnava{
  display:inline;
}

.zacetek1 {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
 
}
h1{
  margin-bottom: 1rem;
}
p{
  margin-bottom: 3rem;
}
/* @keyframes slidein {
  from {
    margin-top: 0%;
    width: 40%;
    opacity:0;
  }

  to {
    margin-top: 15%;
    width: 40%;
    opacity:1;
  }
}

.vsebinaZacetka {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 40%; 
  height: 250px;
  animation:1s slidein;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#startGame{
  text-align: center;

}
#instructions{
  text-align: center;
}

.openIns{
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.openIns:hover,
.openIns:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

#countOut{
  position:fixed;
  display: block;
  height:auto;
  width:auto;
  z-index: 0;
}

#count{
  font-size: 50;
}

/* .inst1 {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
} */

h1{
  text-align: center;
}

#prvi{
  text-align: center;
}

/* .vsebinaInst {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 40%; 
  height: 20rem;
  animation:1s slidein;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#startGame{
  text-align: center;

} */

#rdeč{
  width:100px;
  height:40px;
  background-color: rgb(255, 26, 26);
  color:black;
  display: inline-block;
  text-align:center;
  display:none;
}

#zelen{
  width:100px;
  height:40px;
  background-color: rgb(0, 230, 0);
  color:black;
  display: inline-block;
  text-align:center;
  display:none;
}

#rdečobrat{
  width:150px;
  height:40px;
  background-color: rgb(255, 26, 26);
  color:black;
  display: inline-flex;
  display:none;
}

#powerups{
  width:500px;
  height:50px;
}



@-webkit-keyframes background {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
@-moz-keyframes background {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
@keyframes background {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
